
//to remove roboto or comment it
//html {
//  font-family: GillSans, Calibri, Trebuchet, sans-serif;
//}

.card.small {
    max-width: 300px;
}
.card.medium {
    max-width: 400px;
}
.card.large {
    max-width: 500px;
}