
//to remove roboto or comment it
//html {
//  font-family: GillSans, Calibri, Trebuchet, sans-serif;
//}

//don't support ie
//body {
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
//}
//
//main {
//  flex: 1 0 auto;
//}

footer {
  position:fixed;
  bottom:0px;
  right:0px;
  left:0px;
}