
//to remove roboto or comment it
//html {
//  font-family: GillSans, Calibri, Trebuchet, sans-serif;
//}

/* label color */

#carbonads{
  margin-top:0px;
  margin-bottom:300px;
  max-width: 150px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .carbon-poweredby{
    position: relative;
    left: 28px;
    font-size: 11px;
    color: #a0c7ef;
  }
}

.out-tab-wrapper{
  min-height: 2000px;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}