
//to remove roboto or comment it
//html {
//  font-family: GillSans, Calibri, Trebuchet, sans-serif;
//}

/* label color */

pre{
  min-height:1000px;
}

#staggered-test li{
  opacity: 0;
}
#image-test{
  opacity:0;
}