
//to remove roboto or comment it
//html {
//  font-family: GillSans, Calibri, Trebuchet, sans-serif;
//}

/* label color */


#introduction{
  min-height: 700px;
}
#structure{
  min-height: 700px;
}
#initialization{
  min-height: 700px;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;

}